#loading {
    background-color: #ddd;
    position: fixed;
    inset: 0; /*marginの一括指定 画面いっぱいに広げる*/
    place-items: center; /*アイテム配置の一括指定プロパティ*/
    z-index: 9999;
    display: grid;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*読み込みが終わったらグレーの画面を透明にする*/
.loaded {
    opacity: 0;
    visibility: hidden;
}